
@media (max-width: 991.98px) {  
.navbar {
  top: 0;
  background: #ffffff;
  padding: 10px 0;
}

.navbar-toggler{
  border: 1px solid #6A4DF4;
  border-radius: 7px;
}

.navbar-toggler i{
  color:  #6A4DF4;
}

.navbar-toggler:focus{
  box-shadow: none;
}

  .navbar .navbar-nav {
      flex-direction: column;
      gap: 20px 30px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0;
      text-align: center;
  }

  .navbar .navbar-nav a{
    border: 1px solid #6A4DF4;
    border-radius: 7px;
  }

.navbar .navbar-nav .nav-item .nav-link {
color: #000000;
}

.navbar .custom_btn {
color: #6A4DF4;
font-size: 17px;
padding: 8px 42px;
border-radius: 7px;
background: transparent;
border: 2px solid #6A4DF4;
width: 100%;
}


/* ===================================== */


#banner_part .overlay {
padding: 110px 0 60px;
}

#banner_part .overlay .container h1 {
font-size: 34px;
line-height: 134%;
}

#banner_part .overlay .container p {
font-size: 13px;
line-height: 21px;
margin: 15px 0 20px;
}

.main_banner_slider ul {
  bottom: 20px;
}

.main_banner_slider ul li button {
width: 20px;
height: 20px;
border: 4px solid #4756DF;
}

#banner_part .custom_btn {
font-size: 14px;
padding: 8px 31px;
border-radius: 5px;
}

/* ================================================== */


#success_part {
    padding: 60px 12px 0;

}

#success_part .container {
    padding: 20px 30px 30px;
    border-radius: 10px;
}

#success_part .container .left h3 {
    font-size: 18px;
    text-align: center;
}

#success_part .container .left h2 {
    font-size: 23px;
    text-align: center;
    margin: 10px 0 20px;
}

#success_part .container .text {
    column-gap: 0;
    justify-content: space-between;
}

#success_part .container .text .item{
    text-align: center;
    width: 32%;
}

#success_part .container .text .item h4 {
    font-size: 20px;
}

#success_part .container .text .item p {
    font-size: 12px;
}

/* ========================================= */


#service_part {
  padding: 60px 12px;
}

.title h2 {
  font-size: 30px;
}

.title p {
  font-size: 13px;
  line-height: 19px;
  margin: 10px auto 0;
}

#service_part .main {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
}

#service_part .main img{
  width: 50px;
}

#service_part .main:hover {
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
}

#service_part .main p {
  font-size: 13px;
  line-height: 18px;
}

#service_part .main h3 {
  font-size: 20px;
  margin: 8px 0;
}

/* =================================================== */


#agence_part {
padding: 5px;
margin-top: 60px;
}


#agence_part .container {
background: url(../images/agenceteam.jpg) no-repeat center / cover;
position: relative;
z-index: 1;
padding: 57px 12px;
}

#agence_part .container::after{
content: "";
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
position: absolute;
left: 0;
top: 0;
z-index: -1;
}

#agence_part .container .row .col-lg-4:last-child{
display: none;
}

#agence_part .container .row{
row-gap: 20px;
}

#agence_part .container .top{
display: flex;
align-items: center;
column-gap: 20px;
}

#agence_part .container .top h3{
font-size: 22px;
color: #f2f2f2;
}

#agence_part .container .top p{
font-size: 13px;
color: #d2d2d2;
}

#agence_part .container .top:nth-child(even){
flex-direction: row-reverse;
margin-top: 20px;
}
/* ===================================================== */


#review_part {
padding: 60px 0;
}

#review_part .container{
border: 0;
}

#review_part .main_slider .review_item {
margin: 0;
padding: 20px;
border-radius: 10px;

}

#review_part .main_slider .review_item p {
  width: 250px;
}

  #review_part .main_slider .right {
    background: rgba(255, 255, 255, 0.15);
    color: #6a4df4;
  }
  
  #review_part .main_slider .left {
    background: rgba(255, 255, 255, 0.15);
    color: #6a4df4;
  }


/* ======================================================= */

#form_part .text h2{
font-size: 30px;
text-align: center;
}

#form_part form h3 {
font-size: 25px;
}

#form_part form input {
font-size: 16px;
padding: 9px 13px;
}

#form_part form button {
font-size: 16px;
padding: 10px 0;

}

/* ========================================================= */
/* ========================================================= */

footer .footer_menu {
  display: flex;
  font-size: 20px;
  column-gap: 45px;
  padding: 10px 0;
  justify-content: center;
}

footer .footer_menu h3 {
  margin: 10px 0 25px;
  display: wrap;
  font-size: 25px;
}

}

@media (max-width: 767.98px) { 
  .navbar {
      top: 0;
      background: #ffffff;
      padding: 10px 0;
  }

  .navbar-toggler{
      border: 1px solid #6A4DF4;
      border-radius: 7px;
  }

  .navbar-toggler i{
      color:  #6A4DF4;
  }

  .navbar-toggler:focus{
      box-shadow: none;
  }

      .navbar .navbar-nav {
          flex-direction: column;
          gap: 20px 30px;
          flex-wrap: wrap;
          justify-content: center;
          padding: 30px 0;
          text-align: center;
      }

      .navbar .navbar-nav a{
        border: 1px solid #6A4DF4;
        border-radius: 7px;
      }

  .navbar .navbar-nav .nav-item .nav-link {
color: #000000;
}

.navbar .custom_btn {
color: #6A4DF4;
font-size: 17px;
padding: 8px 42px;
border-radius: 7px;
background: transparent;
border: 2px solid #6A4DF4;
width: 100%;
}


/* ===================================== */


#banner_part .overlay {
  padding: 110px 0 60px;
}

#banner_part .overlay .container h1 {
  font-size: 34px;
  line-height: 134%;
}

#banner_part .overlay .container p {
  font-size: 13px;
  line-height: 21px;
  margin: 15px 0 20px;
}

  .main_banner_slider ul {
      bottom: 20px;
  }

.main_banner_slider ul li button {
  width: 20px;
  height: 20px;
  border: 4px solid #4756DF;
}

#banner_part .custom_btn {
  font-size: 14px;
  padding: 8px 31px;
  border-radius: 5px;
}

/* ================================================== */


    #success_part {
        padding: 60px 12px 0;

    }

    #success_part .container {
        padding: 20px 30px 30px;
        border-radius: 10px;
    }

    #success_part .container .left h3 {
        font-size: 18px;
        text-align: center;
    }

    #success_part .container .left h2 {
        font-size: 23px;
        text-align: center;
        margin: 10px 0 20px;
    }

    #success_part .container .text {
        column-gap: 0;
        justify-content: space-between;
    }

    #success_part .container .text .item{
        text-align: center;
        width: 32%;
    }

    #success_part .container .text .item h4 {
        font-size: 20px;
    }

    #success_part .container .text .item p {
        font-size: 12px;
    }

    /* ========================================= */

    
    #service_part {
      padding: 60px 12px;
  }

  .title h2 {
      font-size: 30px;
  }

  .title p {
      font-size: 13px;
      line-height: 19px;
      margin: 10px auto 0;
  }

  #service_part .main {
      padding: 30px 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  }

  #service_part .main img{
      width: 50px;
  }

  #service_part .main:hover {
      box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  }

  #service_part .main p {
      font-size: 13px;
      line-height: 18px;
  }

  #service_part .main h3 {
      font-size: 20px;
      margin: 8px 0;
  }

  /* =================================================== */


  #agence_part {
    padding: 5px;
    margin-top: 60px;
}


  #agence_part .container {
    background: url(../images/agenceteam.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding: 57px 12px;
}

#agence_part .container::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#agence_part .container .row .col-lg-4:last-child{
    display: none;
}

#agence_part .container .row{
    row-gap: 20px;
}

#agence_part .container .top{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#agence_part .container .top h3{
    font-size: 22px;
    color: #f2f2f2;
}

#agence_part .container .top p{
    font-size: 13px;
    color: #d2d2d2;
}

#agence_part .container .top:nth-child(even){
    flex-direction: row-reverse;
    margin-top: 20px;
}
/* ===================================================== */


#review_part {
  padding: 60px 0;
}

#review_part .container{
  border: 0;
}

#review_part .main_slider .review_item {
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}

#review_part .main_slider .right {
  background: rgba(255, 255, 255, 0.15);
  color: #6a4df4;
}

#review_part .main_slider .left {
  background: rgba(255, 255, 255, 0.15);
  color: #6a4df4;
}




/* ======================================================= */

#form_part .text h2 {
  font-size: 30px;
  text-align: center;
}
#form_part form h3 {
  font-size: 25px;
}

#form_part form input {
  font-size: 16px;
  padding: 9px 13px;
}

#form_part form button {
  font-size: 16px;
  padding: 10px 0;
  
}

/* ========================================================= */
/* ========================================================= */

footer .footer_menu {
  display: flex;
  font-size: 15px;
  column-gap: 25px;
  padding: 10px 0;
  justify-content: center;
}

footer .footer_menu h3 {
  margin: 10px 0 25px;
  display: wrap;
  font-size: 20px;
}

}

@media (max-width: 575.98px) { 
  .navbar {
      top: 0;
      background: #ffffff;
      padding: 10px 0;
  }

  .navbar-toggler{
      border: 1px solid #6A4DF4;
      border-radius: 7px;
  }

  .navbar-toggler i{
      color:  #6A4DF4;
  }

  .navbar-toggler:focus{
      box-shadow: none;
  }

      .navbar .navbar-nav {
          flex-direction: column;
          gap: 20px 30px;
          flex-wrap: wrap;
          justify-content: center;
          padding: 30px 0;
          text-align: center;
      }

      .navbar .navbar-nav a{
        border: 1px solid #6A4DF4;
        border-radius: 7px;
      }

  .navbar .navbar-nav .nav-item .nav-link {
color: #000000;
}

.navbar .custom_btn {
color: #6A4DF4;
font-size: 17px;
padding: 8px 42px;
border-radius: 7px;
background: transparent;
border: 2px solid #6A4DF4;
width: 100%;
}


/* ===================================== */


#banner_part .overlay {
  padding: 110px 0 60px;
}

#banner_part .overlay .container h1 {
  font-size: 34px;
  line-height: 134%;
}

#banner_part .overlay .container p {
  font-size: 13px;
  line-height: 21px;
  margin: 15px 0 20px;
}

  .main_banner_slider ul {
      bottom: 20px;
  }

.main_banner_slider ul li button {
  width: 20px;
  height: 20px;
  border: 4px solid #4756DF;
}

#banner_part .custom_btn {
  font-size: 14px;
  padding: 8px 31px;
  border-radius: 5px;
}

/* ================================================== */


    #success_part {
        padding: 60px 12px 0;

    }

    #success_part .container {
        padding: 20px 30px 30px;
        border-radius: 10px;
    }

    #success_part .container .left h3 {
        font-size: 18px;
        text-align: center;
    }

    #success_part .container .left h2 {
        font-size: 23px;
        text-align: center;
        margin: 10px 0 20px;
    }

    #success_part .container .text {
        column-gap: 0;
        justify-content: space-between;
    }

    #success_part .container .text .item{
        text-align: center;
        width: 32%;
    }

    #success_part .container .text .item h4 {
        font-size: 20px;
    }

    #success_part .container .text .item p {
        font-size: 12px;
    }

    /* ========================================= */

    
    #service_part {
      padding: 60px 12px;
  }

  .title h2 {
      font-size: 30px;
  }

  .title p {
      font-size: 13px;
      line-height: 19px;
      margin: 10px auto 0;
  }

  #service_part .main {
      padding: 30px 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  }

  #service_part .main img{
      width: 50px;
  }

  #service_part .main:hover {
      box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  }

  #service_part .main p {
      font-size: 13px;
      line-height: 18px;
  }

  #service_part .main h3 {
      font-size: 20px;
      margin: 8px 0;
  }

  /* =================================================== */


  #agence_part {
    padding: 5px;
    margin-top: 60px;
}


  #agence_part .container {
    background: url(../images/agenceteam.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding: 57px 12px;
}

#agence_part .container::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#agence_part .container .row .col-lg-4:last-child{
    display: none;
}

#agence_part .container .row{
    row-gap: 20px;
}

#agence_part .container .top{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#agence_part .container .top h3{
    font-size: 22px;
    color: #f2f2f2;
}

#agence_part .container .top p{
    font-size: 13px;
    color: #d2d2d2;
}

#agence_part .container .top:nth-child(even){
    flex-direction: row-reverse;
    margin-top: 20px;
}
/* ===================================================== */


#review_part {
  padding: 60px 0;
}

#review_part .container{
  border: 0;
}

#review_part .main_slider .review_item {
  margin: 0;
  padding: 20px;
  border-radius: 10px;
}

#review_part .main_slider .right {
  background: rgba(255, 255, 255, 0.15);
  color: #6a4df4;
}

#review_part .main_slider .left {
  background: rgba(255, 255, 255, 0.15);
  color: #6a4df4;
}

/* ======================================================= */

#form_part .text h2 {
  font-size: 30px;
  text-align: center;
}
#form_part form h3 {
  font-size: 25px;
}

#form_part form input {
  font-size: 16px;
  padding: 9px 13px;
}

#form_part form button {
  font-size: 16px;
  padding: 10px 0;
  
}

/* ========================================================= */
/* ========================================================= */

footer .footer_menu {
  display: flex;
  font-size: 10px;
  column-gap: 10px;
  padding: 10px 0;
  justify-content: center;
}

footer .footer_menu h3 {
  margin: 10px 0 25px;
  display: wrap;
  font-size: 15px;
}

}

